@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');


:root, body {
    height:100%;
    margin: 0;
    padding:0;
    width: 100%;
    font-family: "Noto Serif KR"
}

#__next {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
